body {
    width : 100%;
    height : 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 110px;
    background-image: url("./images/email-pattern.png");
    
}

#root{
    width : 100%;
    overflow-x: hidden;
}

#signinForm{
    background-color: white;
    padding : 20px;
    border : 1px solid black;
    width : 100%;
}

#signupForm{
    background-color: white;
    padding : 20px;
    border : 1px solid black
}


#formulaireCommande {                           /*CSS concernant le formulaire d'inscrption*/
    border : 1px solid black;
    padding : 20px;
}


                                                    /*CSS concernant le menu de navigation*/

.nav {
    position : fixed;
    width : 100%;
    top : 0px;
    
    height : 110px;
    font-size : 15px;
    z-index: 1;
    display:flex;
    justify-content: flex-end;
    
} 
.nav-pills{
    background-image: url('./images/icon-left-font-monochrome-white.svg') ;
    background-repeat: repeat-y;
    background-color : black;
}

#menuIcon{
    height : 80px;
    width:80px;
    background-color: white;
    margin : auto;
    cursor : pointer;
    border-radius: 20px;
}


.menuButtons{
    background-color: black!important;
    margin-right: 15px;
    width:280px;
    display:flex;
    flex-direction: column;
    margin-top:100px;
    border-radius: 0px 15px 0px 15px;;
    box-shadow: 0 10px 10px -5px;
    
}

.btn-nav>p{
    margin-top: 20px;
}


.nav-item{
    width : 250px;
    margin : auto;
    padding-top: 20px;
    padding-bottom: 20px;
    display: none;
    /* flex:none!important;
    margin-right : 15px; */
}

/* .nav-item>a {
    font-size : 16px;
    padding : 2px;
    color : white;
   font-weight: bolder;
    cursor: pointer;
} */

#callMenuButton{
    margin : auto;
    
    position : absolute;
    top : 15px;
    right : 70px
}

.btn-nav{
    font-size : 16px!important;
    margin : auto;
    height : 80px;
    color : white!important;
    font-weight: bolder;
    text-align: center;
    padding : 10px;
    word-wrap: break-word;
    text-align: center;
    

}

.nav-link {
    padding : 0px;
    width:50px;
    flex : none!important;
}

.nav-link>p{
    font-size : 16px;
    padding : 2px;
    width:50px;
    color : white;
   font-weight: bolder;
    cursor: pointer;
}

.commentIcon{
    float : right;
    margin-bottom: 15px;
    cursor : pointer;
}


.whiteText p{
    color : white!important;
}

#Unauthenticated{
    display: flex;  
}


.container>h2{
    margin : 0px;
}

.uniqueProfilContainer{
    background-color: white;
    max-height : 600px;
    margin-top: 100px!important;
    padding : 20px;
}


.jumbotron-fluid{                               /*CSS concernant la page d'accueil*/
    width : 75%;
    height : auto;
    display : flex;
    flex-direction : column;
    margin : auto;
    margin-bottom: 15px;
    padding : 20px;
    border-radius : 12px;
    box-shadow: 0 10px 10px -5px;
    background-image: url('./images/what-the-hex.png');
    
}

.fa-sort-amount-down{
    margin-top : 20px;
}

.postImg{
    width : 70%;
    height : 45%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    align-self: center;
    border-radius : 12px;
}

#goPost {
    width : auto;
    margin : auto;
    margin-left : 5px;
    margin-right : 5px;
    align-self: center;
   
}

#postsDetails{
    display : flex;
    height : auto;
    justify-content: space-between;
    padding-top: 10px;
}

#datePost {
    margin : 0px;
    
}

#authorPost{
    margin : 0px;

 }

.homeContainer {
    display : flex;
    
    
}

.alert-danger{
    word-break: break-all;
}

.postContainer {
    width : auto;
    margin : auto;
    height : auto;
    max-height: 550px;
    border : 1px solid black;
    padding : 20px;
    background-color: white;
    display : flex;
    margin-top : 25px;
    margin-bottom: 50px;
   flex-direction: column; 
   position : fixed;
   overflow : hidden;
   box-shadow: 5px 5px 20px;
   z-index: 1;
   
}

.publicationsContainer{
    margin-bottom: 100px;
    display: flex;
    flex-direction: column-reverse;
}


#modifyFormulaireContainer{
    display : flex;
    width : 100%;
    position : fixed;

}

#modifyFormulaire{
    width : 80%;
    bottom : 10px;
    margin : auto;
    position : inherit;
    
}

#accueilDisconnect{
    width : 100%;
    height : 100%;
}


                                        /*CSS concernant les commentaires*/



#commentInput{
    background-color: white;
}                                        



#commentsContainer{
    display : flex;
    flex-direction: column;
}

.commentAuteur{
    text-align: right;
    margin-bottom : 0px;
    font-size : 15px;

    
}


.commentContainer{
    width : 80%;
    height : auto;
    margin : auto;
    margin-bottom : 5px;
    border : 1px solid black;
    padding : 10px;
    padding-bottom : 2px;
    background-color: white;
    flex-wrap: wrap;
    word-wrap: break-word;
}

.commentText{
    word-wrap: wrap;
}

#commentInput{
    border : 1px solid black;
    margin : 30px;
    width : 70%;
}

#homePost{
    width : 150px;
   transition: 1s; 
}

#homePost:hover{
    width : 80%;
}

.postContainer>h2 {
    margin : 0;
    font-size: 15px;
    display : none;
}



#nameUser  {                            /*CSS concernant la page contenant tout les utilisateurs*/ 
    text-decoration: none;
}



.container{
    margin : auto;

    width : 100%;
    display : flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top : 30px;
    margin-bottom: 30px;
}

.userDescription{
    border : none!important;
    margin-top : 15px!important;
    margin-bottom : 15px!important;
    padding-top : 5px!important;
}

.userDescription>p{
    font-size : 30px;
}

.card-bodyUsers{
    max-height : 150px!important;
}

.goProfilUsers {
    margin-top: 10px!important;
    margin-bottom: 20px!important;
}




.publicationContainer{                                          /*CSS concernant les publications singles*/
    width : 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    word-wrap: break-word;
    background-color: white;
    

}

.publicationButtons{
    display : flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    width : auto;
    margin-top : 30px;
}

.publicationContainer>.jumbotron{
    height : auto;
    max-height : 600px;
    margin-bottom: 20px;
}

.row{
    
    
    display: flex;
    width : 100%;
    height : 100%;
    justify-content: center;
    margin : auto;
    flex-wrap: wrap;
    overflow-x : hidden;
    
}


.card {
    margin : 15px;
    width : 400px;
    height : 500px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;

}

.usersImg {
    width : 70%;
    height : 40%;
    
    margin : auto;
    margin-top: 25px;
    margin-bottom : 25px;
}

.card-body{
    text-align: center;
    padding : 0px;
    display : flex;
    flex-direction: column;
}

.card-text{
    margin :auto;
    width: auto;
    max-width : 350px;
    height : auto;
}

.card-bodyContent{
    margin : auto;
    word-wrap: break-word;
    border : 1px groove black;
    
   padding : 10px;
    border-radius: 10px;
    background-color: white;
    font-size : 15px;
}

.card-bodyContentHome{
   
    margin-top : 10px;
    margin-bottom : 10px;
    padding : 20px;
    border-radius: 10px;
    background-color: white;
    word-wrap: break-word;
    border : 1px groove black;

}

.goProfil{
    width : 50%;
    margin : auto;
    margin-bottom : 20px;
}

#modifyProfilUser{
    background-color: white;
}

.btnEditPost {
    padding : 10px;
    width : 200px!important;
}


                                    /*CSS pour la page d'une publication*/

#singlePostImg {
    max-width: 500px;
    max-height : 500px

}

.publicationContainer{
    width : 80%;
    margin : auto;
    background-image: url('./images/icon-left-font-monochrome-black.png') no-repeat;
    box-shadow: 0 10px 10px -5px;
    padding : 5px 20px 20px 20px;
    margin-top : 30px;
    display:flex;
    flex-direction: column;

}

.d-inline-block{
    display : flex;
    margin-bottom : 15px;
    justify-content: center;
}



@media all and (max-width : 500px){
    .card-text{
        width : 150px;
    }

    #goHomeFromSinglePost{
        width : 200px;
        font-size : 14px;
        text-align: center;
    }

    .nav-link>p{
        font-size: 14px;
    }

    .nav-fill{
        /* height : auto; */
        flex-direction: column;
        
    }

    #postsDetails{
        flex-direction: column;
    }

    body{
        padding-top: 220px;
    }

    .uniqueProfilContainer{
        margin-top : 0px!important;
    }

    

    .nav-item{
        margin-left : 5px;
    }
}

@media all and (max-width : 575px){
    .uniqueProfilContainer{
        
        width : 90%!important;
        border : 1px solid black;
    }

    .card-img-top{
        margin : auto;
    }
}

@media all and (min-width : 500px){

}

@media all and (max-width : 660px){
    .nav{
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .nav-item{
        width : 115px;
        flex:none!important;
        margin-right : 5px;
        word-wrap: break-word;
        
    }

    .nav-item>a>p{
        width : 100px;
        font-size : 14px;
    }

    .postContainer{
        height : 80px;
    }

    .menuButtons{
        
        position : absolute;
        float : right;
        right : 0px;
    }

    .nav-item{
        margin-left: 5px;
    }



    .postContainer:hover{
        height : 400px;
        /* top : 30px; */
    }

}




@media all and (min-width : 1200px){
    .homeContainer {
        
        padding-top: 120px;
        
        
    }
}

@media all and (max-width : 650px){
    .nav-pills{
        background-image: none;
        background-color : black;
    }
}

@media all and (max-width : 321px){
    .card-bodyContentHome>p{
        font-size : 12px;
        text-align : left;
    }

    .card-bodyContentHome>h5{
        font-size : 14px
    }

    .btn-raised{
        width : 180px!important;
    }

    .menuButtons{
        text-align : left;
    }

    .nav-item{
        margin-left : 10px;
    }

    


}

@media all and (max-width : 425px){

    .nav-fill{
        z-index : 2;
    }
}
